.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  position: sticky;
  top: 0;
  width:100%;
  background-color: white;
}

.logo{
  position: absolute;
  margin-top: 0;
  margin-left: 10px;
}

.nav-kiri{
  float: left;
}

.nav-kanan{
  float: right;
  width: 400px;
}

.nav{
  width: auto;
  height: 50px;
  background: white;
  border-radius: 2px;
}

.nav ul{
  float: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: -10px;
}

.nav li{
  float: left;
  list-style: none;
  margin:0;
  padding-right:27px;
  text-decoration: none;
  
}

.nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  color: navy;
}


#index{
  background-image:url("./public/img/pattern.jpg");
  margin: 0;
  padding: 0 ;
}

section{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

section h1{
  text-align: center;
}

.list{
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.list .container{
  width: 418px;
  height: 240px;
  float: left;
  overflow: hidden;
}

.container img{
  width: 100%;
}

.bio{

height: 250px;
}
.list .keterangan{
  margin-top: 0;
  width: 300px;
  float: right;
  overflow: hidden;
}

.keterangan h4{
 margin-top: -3px;
}

.list a{
  text-decoration: none;
  color: black;
}


/*css about*/
#data-peserta{
  width: 80%;
  height: 500px;
  margin:0 auto;

}

#data-peserta h1{
  text-align: center;
}

/*css contact*/

.kontak ul{
  list-style-type: none;
}

h2{
  text-align: center;
}

.kontak{
  width: 70%;
  padding-bottom: 5px;
}

td{
  width:200px;
  padding-top: 10px;
}

textarea{
  width: 300px;
  height:50px;
}

/*Movie*/
table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/*footer*/
footer{
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  padding: 4px;
  margin-top: 20px;
}

footer h5{
  color:white;

}
